<!DOCTYPE html>
<html lang="zxx">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Link of CSS Files -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/magnific-popup.min.css">
        <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
        <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
        <link rel="stylesheet" href="assets/css/meanmenu.min.css">
        <link rel="stylesheet" href="assets/css/scrollCue.css">
        <link rel="stylesheet" href="assets/css/all.min.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="assets/css/responsive.css">

        <!-- Title -->
        <title>Lanklub - Multi Language Learning HTML Template</title>

        <!-- Favicon -->
        <link rel="icon" type="image/png" href="assets/images/favicon.svg">
    </head>
    <body class="bg-fbfbfb">

        <!-- Start Navbar Area -->
        <div class="navbar-area position-fixed top-0 start-0 end-0">
            <div class="lanklub-responsive-nav">
                <div class="container">
                    <div class="lanklub-responsive-menu">
                        <div class="logo">
                            <a href="index.html">
                                <img src="assets/images/logo.svg" alt="logo">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="lanklub-nav">
                <div class="container">
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <a class="navbar-brand" href="index.html">
                            <img src="assets/images/logo.svg" alt="logo">
                        </a>
                        <div class="collapse navbar-collapse mean-menu">
                            <ul class="navbar-nav mx-auto">
                                <li class="nav-item">
                                    <a href="javascript:void(0);" class="dropdown-toggle nav-link">
                                        Home
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="index.html" class="nav-link">Home Demo - 1</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="index-2.html" class="nav-link">Home Demo - 2</a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="index-3.html" class="nav-link">Home Demo - 3</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="about.html" class="nav-link">
                                        About
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="javascript:void(0);" class="dropdown-toggle nav-link active">
                                        Courses
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="courses.html" class="nav-link active">
                                                Courses
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="course-details.html" class="nav-link">
                                                Course Details
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="javascript:void(0);" class="dropdown-toggle nav-link">
                                        Pages
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item">
                                            <a href="team.html" class="nav-link">
                                                Team
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="team-details.html" class="nav-link">
                                                Team Details
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="javascript:void(0);" class="dropdown-toggle nav-link">
                                                Blog
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li class="nav-item">
                                                    <a href="blog.html" class="nav-link">
                                                        Blog
                                                    </a>
                                                </li>
                                                <li class="nav-item">
                                                    <a href="blog-details.html" class="nav-link">
                                                        Blog Details
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="nav-item">
                                            <a href="login.html" class="nav-link">
                                                Login
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="register.html" class="nav-link">
                                                Register
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="privacy-policy.html" class="nav-link">
                                                Privacy Policy
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="terms-conditions.html" class="nav-link">
                                                Terms & Conditions
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="not-found.html" class="nav-link">
                                                404 Error Page
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item">
                                    <a href="contact.html" class="nav-link">
                                        Contact
                                    </a>
                                </li>
                            </ul>
                            <div class="others-option">
                                <a href="courses.html" class="default-btn">
                                    Enroll Now
                                </a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <!-- End Navbar Area -->

        <!-- Start Page Banner Area -->
        <div class="page-banner-area text-center position-relative z-1">
            <div class="container">
                <h1 class="mb-0 text-white text-uppercase" data-cue="slideInUp">
                    Courses
                </h1>
            </div>
        </div>
        <!-- End Page Banner Area -->

        <div class="pb-120 border-bottom"></div>

        <!-- Start Courses Area -->
        <div class="courses-area bg-f3f3f3 pt-120 pb-95">
            <div class="container">
                <div class="row justify-content-center" data-cues="slideInUp" data-group="coursesContent">
                    <div class="col-xl-4 col-md-6">
                        <div class="single-course-box mb-25 position-relative">
                            <h3 class="fw-semibold">
                                <a href="course-details.html">
                                    English Speaking
                                </a>
                            </h3>
                            <p>
                                Learn the Beauty of English
                            </p>
                            <div class="instructor d-flex align-items-center">
                                <img src="assets/images/users/user1.jpg" class="rounded-circle" alt="user-image">
                                <div>
                                    <h4 class="fw-medium">
                                        Steven James
                                    </h4>
                                    <span class="d-block">
                                        Instructor
                                    </span>
                                </div>
                            </div>
                            <a href="course-details.html" class="default-btn">
                                Enroll Now
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="single-course-box mb-25 position-relative">
                            <h3 class="fw-semibold">
                                <a href="course-details.html">
                                    Hindi Speaking
                                </a>
                            </h3>
                            <p>
                                Learn the Beauty of Hindi
                            </p>
                            <div class="instructor d-flex align-items-center">
                                <img src="assets/images/users/user2.jpg" class="rounded-circle" alt="user-image">
                                <div>
                                    <h4 class="fw-medium">
                                        Michael Eller
                                    </h4>
                                    <span class="d-block">
                                        Instructor
                                    </span>
                                </div>
                            </div>
                            <a href="course-details.html" class="default-btn">
                                Enroll Now
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="single-course-box mb-25 position-relative">
                            <h3 class="fw-semibold">
                                <a href="course-details.html">
                                    Urdu Speaking
                                </a>
                            </h3>
                            <p>
                                Learn the Beauty of Urdu
                            </p>
                            <div class="instructor d-flex align-items-center">
                                <img src="assets/images/users/user3.jpg" class="rounded-circle" alt="user-image">
                                <div>
                                    <h4 class="fw-medium">
                                        Charles Ferrell
                                    </h4>
                                    <span class="d-block">
                                        Instructor
                                    </span>
                                </div>
                            </div>
                            <a href="course-details.html" class="default-btn">
                                Enroll Now
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="single-course-box mb-25 position-relative">
                            <h3 class="fw-semibold">
                                <a href="course-details.html">
                                    English Speaking
                                </a>
                            </h3>
                            <p>
                                Learn the Beauty of English
                            </p>
                            <div class="instructor d-flex align-items-center">
                                <img src="assets/images/users/user1.jpg" class="rounded-circle" alt="user-image">
                                <div>
                                    <h4 class="fw-medium">
                                        Steven James
                                    </h4>
                                    <span class="d-block">
                                        Instructor
                                    </span>
                                </div>
                            </div>
                            <a href="course-details.html" class="default-btn">
                                Enroll Now
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="single-course-box mb-25 position-relative">
                            <h3 class="fw-semibold">
                                <a href="course-details.html">
                                    Hindi Speaking
                                </a>
                            </h3>
                            <p>
                                Learn the Beauty of Hindi
                            </p>
                            <div class="instructor d-flex align-items-center">
                                <img src="assets/images/users/user2.jpg" class="rounded-circle" alt="user-image">
                                <div>
                                    <h4 class="fw-medium">
                                        Michael Eller
                                    </h4>
                                    <span class="d-block">
                                        Instructor
                                    </span>
                                </div>
                            </div>
                            <a href="course-details.html" class="default-btn">
                                Enroll Now
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="single-course-box mb-25 position-relative">
                            <h3 class="fw-semibold">
                                <a href="course-details.html">
                                    Urdu Speaking
                                </a>
                            </h3>
                            <p>
                                Learn the Beauty of Urdu
                            </p>
                            <div class="instructor d-flex align-items-center">
                                <img src="assets/images/users/user3.jpg" class="rounded-circle" alt="user-image">
                                <div>
                                    <h4 class="fw-medium">
                                        Charles Ferrell
                                    </h4>
                                    <span class="d-block">
                                        Instructor
                                    </span>
                                </div>
                            </div>
                            <a href="course-details.html" class="default-btn">
                                Enroll Now
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="single-course-box mb-25 position-relative">
                            <h3 class="fw-semibold">
                                <a href="course-details.html">
                                    English Speaking
                                </a>
                            </h3>
                            <p>
                                Learn the Beauty of English
                            </p>
                            <div class="instructor d-flex align-items-center">
                                <img src="assets/images/users/user1.jpg" class="rounded-circle" alt="user-image">
                                <div>
                                    <h4 class="fw-medium">
                                        Steven James
                                    </h4>
                                    <span class="d-block">
                                        Instructor
                                    </span>
                                </div>
                            </div>
                            <a href="course-details.html" class="default-btn">
                                Enroll Now
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="single-course-box mb-25 position-relative">
                            <h3 class="fw-semibold">
                                <a href="course-details.html">
                                    Hindi Speaking
                                </a>
                            </h3>
                            <p>
                                Learn the Beauty of Hindi
                            </p>
                            <div class="instructor d-flex align-items-center">
                                <img src="assets/images/users/user2.jpg" class="rounded-circle" alt="user-image">
                                <div>
                                    <h4 class="fw-medium">
                                        Michael Eller
                                    </h4>
                                    <span class="d-block">
                                        Instructor
                                    </span>
                                </div>
                            </div>
                            <a href="course-details.html" class="default-btn">
                                Enroll Now
                            </a>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                        <div class="single-course-box mb-25 position-relative">
                            <h3 class="fw-semibold">
                                <a href="course-details.html">
                                    Urdu Speaking
                                </a>
                            </h3>
                            <p>
                                Learn the Beauty of Urdu
                            </p>
                            <div class="instructor d-flex align-items-center">
                                <img src="assets/images/users/user3.jpg" class="rounded-circle" alt="user-image">
                                <div>
                                    <h4 class="fw-medium">
                                        Charles Ferrell
                                    </h4>
                                    <span class="d-block">
                                        Instructor
                                    </span>
                                </div>
                            </div>
                            <a href="course-details.html" class="default-btn">
                                Enroll Now
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Courses Area -->

        <!-- Start Contact Area -->
        <div class="contact-area bg-f3f3f3 border-top border-bottom ptb-120">
            <div class="container" data-cues="slideInUp" data-group="contactContent">
                <div class="section-title text-center">
                    <h2 class="fw-semibold mx-auto mb-0 text-uppercase">
                        Have any question?
                    </h2>
                    <p>
                        Your email address will not be published. Required field are marked*
                    </p>
                </div>
                <div class="contact-form text-center mx-auto">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <input type="text" placeholder="Full name *" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-group">
                                <input type="text" placeholder="Email address *" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group mb-0">
                                <textarea class="form-control" placeholder="Write your message *"></textarea>
                            </div>
                        </div>
                    </div>
                    <button class="default-btn" type="submit">
                        Send Message
                    </button>
                </div>
            </div>
        </div>
        <!-- End Contact Area -->

        <!-- Start Footer Area -->
        <footer class="footer-area bg-f6ffeb pt-120 border-top">
            <div class="container">
                <div class="subscribe-box row" data-cues="slideInUp" data-group="subscribeContent">
                    <div class="col-lg-6 col-md-12">
                        <div class="subscribe-content">
                            <h3 class="fw-semibold">
                                Subscribe to Newsletter
                            </h3>
                            <p>
                                Stay updated with our latest news and offers
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="subscribe-form">
                            <form>
                                <input type="text" class="form-control" placeholder="Enter email address">
                                <button type="button">
                                    Subscribe
                                </button>
                            </form>
                            <p>
                                By subscribing, you agree to our Privacy Policy
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row" data-cues="fadeIn" data-group="footerContent">
                    <div class="col-md-3 col-sm-6">
                        <div class="single-footer-widget mb-25">
                            <a href="index.html" class="logo mb-0 d-inline-block">
                                <img src="assets/images/logo.svg" alt="logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="single-footer-widget mb-25">
                            <h3 class="fw-medium">
                                About Us
                            </h3>
                            <ul class="custom-links p-0 mb-0 list-unstyled">
                                <li>
                                    <a href="contact.html">
                                        Contact
                                    </a>
                                </li>
                                <li>
                                    <a href="contact.html">
                                        Support
                                    </a>
                                </li>
                                <li>
                                    <a href="blog.html">
                                        Resources
                                    </a>
                                </li>
                                <li>
                                    <a href="privacy-policy.html">
                                        Help Center
                                    </a>
                                </li>
                                <li>
                                    <a href="blog.html">
                                        Blog
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="single-footer-widget mb-25">
                            <h3 class="fw-medium">
                                Courses
                            </h3>
                            <ul class="custom-links p-0 mb-0 list-unstyled">
                                <li>
                                    <a href="course-details.html">
                                        Language Learning
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Testimonials
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Events
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Partners
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        Careers
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="single-footer-widget mb-25">
                            <h3 class="fw-medium">
                                Terms
                            </h3>
                            <ul class="custom-links p-0 mb-0 list-unstyled">
                                <li>
                                    <a href="privacy-policy.html">
                                        Privacy
                                    </a>
                                </li>
                                <li>
                                    <a href="privacy-policy.html">
                                        Cookies
                                    </a>
                                </li>
                                <li>
                                    <a href="terms-conditions.html">
                                        Sitemap
                                    </a>
                                </li>
                                <li>
                                    <a href="terms-conditions.html">
                                        Accessibility
                                    </a>
                                </li>
                                <li>
                                    <a href="terms-conditions.html">
                                        Terms of Service
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="copyright-area border-top">
                    <div class="row align-items-center">
                        <div class="col-lg-3 col-sm-6">
                            <p class="mb-0">
                                © 2024 Lanklub. All rights reserved.
                            </p>
                        </div>
                        <div class="col-lg-6 col-sm-6">
                            <ul class="custom-links mb-0 list-unstyled">
                                <li class="d-inline-block">
                                    <a href="privacy-policy.html">
                                        Privacy Policy
                                    </a>
                                </li>
                                <li class="d-inline-block">
                                    <a href="terms-conditions.html">
                                        Terms of Service
                                    </a>
                                </li>
                                <li class="d-inline-block">
                                    <a href="privacy-policy.html">
                                        Cookies Settings
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-sm-6">
                            <div class="socials">
                                <a href="#" class="d-inline-block position-relative rounded-circle text-center">
                                    <i class="fa-brands fa-facebook-f"></i>
                                </a>
                                <a href="#" class="d-inline-block position-relative rounded-circle text-center">
                                    <i class="fa-brands fa-x-twitter"></i>
                                </a>
                                <a href="#" class="d-inline-block position-relative rounded-circle text-center">
                                    <i class="fa-brands fa-linkedin-in"></i>
                                </a>
                                <a href="#" class="d-inline-block position-relative rounded-circle text-center">
                                    <i class="fa-brands fa-google"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer Area -->
         
<!--Start Popup Script-->
		<script data-cfasync="false">(function(w,i,s,e){window[w]=window[w]||function(){(window[w].q=window[w].q||[]).push(arguments)};window[w].l=Date.now();s=document.createElement('script');e=document.getElementsByTagName('script')[0];s.defer=1;s.src=i;e.parentNode.insertBefore(s, e)})('wisepops', '../../../wisepops.net/loader5c69.html?v=2&amp;h=HzBeEscjD9');</script>

        <!--Start of Live Chat Script-->
            <script src="../../../code.tidio.co_443/ukbzkumwslzb2mxazsvwu2r0hnenldtf.js" async></script>
        <!--End of  Live Chat  Script-->

        <!-- Go Top -->
        <div class="go-top bg-white text-center rounded-circle position-fixed">
            <i class="fa-solid fa-chevron-up"></i>
        </div>
        <!-- End Go Top -->

        <!-- Link of JS Files -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.bundle.min.js"></script>
        <script src="assets/js/magnific-popup.min.js"></script>
        <script src="assets/js/meanmenu.min.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/scrollCue.min.js"></script>
        <script src="assets/js/custom.js"></script>
    </body>
</html>