{% extends 'main/base_generic.html' %}
{% block title %} School News {% endblock title %}
{% load static %}
{% block content %}

    <div class="page-banner-area text-center position-relative z-1">
        <div class="container">
            <h1 class="mb-0 text-white text-uppercase" data-cue="slideInUp">
                School News
            </h1>
        </div>
    </div>

    <div class="pb-120 border-bottom"></div>

    <div class="blog-area bg-131313 pt-120 pb-95">
        <div class="container">
            <div class="row" data-cues="slideInUp" data-group="blogContent">
                {% for news_item in news %}
                <div class="col-xl-4 col-md-6">
                    <div class="single-blog-post mb-25">
                        <a href="{% url 'news_detail' slug=news_item.slug %}" class="image d-block">
                            {% if news_item.image %}
                                <img src="{{ news_item.image.url }}" alt="{{ news_item.title }}-image">
                            {% else %}
                                <img src="{% static 'main/images/blogs/blog1.jpg' %}" alt="blog-image">
                            {% endif %}
                        </a>
                        <div class="content">
                            <div class="info position-relative">
                                <ul class="d-flex align-items-center p-0 mb-0 list-unstyled">
                                    <li class="d-inline-block position-relative">
                                        {{ news_item.created_at|date:"d" }} <br>{{ news_item.created_at|date:"M" }}
                                    </li>
                                    <li class="d-inline-block position-relative">
                                        <i class="fa-regular fa-circle-user"></i> By
                                        <a>Admin</a>
                                    </li>
                                    <li class="d-inline-block position-relative">
                                        <i class="fa-regular fa-comment-dots"></i>
                                        <a href="{% url 'news_detail' slug=news_item.slug %}">Comments</a>
                                    </li>
                                </ul>
                            </div>
                            <h3 class="fw-semibold">
                                <a href="{% url 'news_detail' slug=news_item.slug %}">{{ news_item.title }}</a>
                            </h3>
                            <div class="text-end">
                                <a href="{% url 'news_detail' slug=news_item.slug %}" class="default-btn">Continue Reading</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% empty %}

                {% endfor %}
            </div>
        </div>
    </div>

{% endblock content %}
